In [7]:
import yfinance as yf

In [8]:
sp500 = yf.Ticker("^GSPC")

In [9]:
sp500 = sp500.history(period="max")

In [10]:
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-08 00:00:00-04:00,5572.750000,5583.109863,5562.509766,5572.850098,3185670000,0.0,0.0
2024-07-09 00:00:00-04:00,5584.240234,5590.750000,5574.569824,5576.979980,3232920000,0.0,0.0
2024-07-10 00:00:00-04:00,5591.259766,5635.390137,5586.439941,5633.910156,3336100000,0.0,0.0
2024-07-11 00:00:00-04:00,5635.209961,5642.450195,5576.529785,5584.540039,4020950000,0.0,0.0
2024-07-12 00:00:00-04:00,5590.759766,5655.560059,5590.439941,5615.350098,3700280000,0.0,0.0